apiVersion: v1
kind: Secret
metadata:
  name: authentication-env
  namespace: releaserangers
type: Opaque
stringData:
  JWT_SECRET: ${JWT_SECRET}
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: releaserangers
type: Opaque
stringData:
  POSTGRES_USER: release
  POSTGRES_PASSWORD: ranger
  POSTGRES_DB: devops25_db
---
apiVersion: v1
kind: Secret
metadata:
  name: genai-env
  namespace: releaserangers
type: Opaque
stringData:
  LLM_API_KEY: ${LLM_API_KEY}
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-credentials
  namespace: ranger-observatory
type: Opaque
stringData:
  admin-user: admin
  admin-password: admin